<link rel="stylesheet">
<div class="container-fluid">
	<div class="row">
		<div class="col-md-5 col-md-offset-1">
		<div class="main_header">Your Profile</div>
				<br>
				<!-- Notification panel -->
				<div class="row">
					<div class="col-xs-12">
						<!-- Generic Error -->
						<div *ngIf="notifications.generic_error"
								class="alert alert-danger alert-dismissible" role="alert">
							<button type="button" class="close" (click)="notifications.generic_error = false">
								<span aria-hidden="true">&times;</span></button>
							<span class="notification_panel"><strong>Error</strong> Something went wrong on our end. Please contact the developers.</span>
						</div>
						<!-- Email Conflict Error -->
						<div *ngIf="notifications.email_conflict"
								class="alert alert-danger alert-dismissible" role="alert">
							<button type="button" class="close" (click)="notifications.email_conflict = false">
								<span aria-hidden="true">&times;</span></button>
							<span class="notification_panel"><strong>Error</strong> An account already exists for that email address. Please contact the developers or attempt to login.</span>
						</div>						
						<!-- Bad Request Error -->
						<div *ngIf="notifications.bad_request"
								class="alert alert-danger alert-dismissible" role="alert">
							<button type="button" class="close" (click)="notifications.bad_request = false">
								<span aria-hidden="true">&times;</span></button>
							<span class="notification_panel"><strong>Error</strong> It looks like you're trying to do something sketchy. Remember that "unauthorized penetration tests" are illegal :P. If you believe this is a mistake, please contact the developers.</span>
						</div>						
						<!-- Invalid Credentials Error -->
						<div *ngIf="notifications.invalid_credentials"
								class="alert alert-danger alert-dismissible" role="alert">
							<button type="button" class="close" (click)="notifications.invalid_credentials = false">
								<span aria-hidden="true">&times;</span></button>
							<span class="notification_panel"><strong>Error</strong> At least one field of the form is invalid.</span>
						</div>

					</div>
				</div>

				<div class="row">
					<div class="col-md-10 col-md-offset-1" >
						<form (ngSubmit) = "update_profile()" [formGroup]="formData">
							<!-- Name Submission -->
							<div class="form-group">
								<label class="input-label">Name</label>
								<input type="name" class="form-control" placeholder="Full Name" formControlName="name">
							</div>

							<!-- Email Submission -->
							<div class="form-group">
								<label class="input-label">E-mail address</label>
								<input disabled type="email" class="form-control" placeholder="Email" formControlName = "email">
							</div>

							<!-- All 3 password fields -->
							<div class="row">
								<!-- Old Password -->
								<div class="form-group col-md-6">
									<label class="input-label">Existing Password</label>
									<input type="password" class="form-control" placeholder="Password" formControlName="old_password">
									<p class="form-hint">Only enter your passwords if you are changing them.</p>
								</div>
								<!-- New Password -->
								<div class="form-group col-md-6">
									<label class="input-label">Password</label>
									<input type="password" class="form-control" placeholder="New password" formControlName="new_password">
									<p class="form-hint">Do <b>not</b> use your Gatorlink or an existing password!</p>
								</div>
								<!-- Confirm new password -->
								<div class="form-group col-md-6">
									<label class="input-label">Confirm password</label>
									<input type="password" class="form-control" placeholder="Confirm password" formControlName="confirm_password">
									<p class="form-hint-error" 
										*ngIf="formData.password !== formData.confirm_password">Your passwords need to match.</p> 
								</div>
							</div>

							<!-- Graduation -->
							<div class="row">
								<div class="form-group col-md-6">
									<label class="input-label">Graduation Semester</label>
									<select required aria-required="true" class="form-control"
										name="grad_year"
										formControlName="grad_year">
										<option disabled hidden value="Select a semester">Select a semester</option>
										<option value="Already Graduated">Already Graduated</option>
										<option value="2018 (Spring)">2018 (Spring)</option>
										<option value="2018 (Summer)">2018 (Summer)</option>
										<option value="2018 (Fall)">2018 (Fall)</option>
										<option value="2019 (Spring)">2019 (Spring)</option>
										<option value="2019 (Summer)">2019 (Summer)</option>
										<option value="2019 (Fall)">2019 (Fall)</option>
										<option value="2020 (Spring)">2020 (Spring)</option>
										<option value="2020 (Summer)">2020 (Summer)</option>
										<option value="2020 (Fall)">2020 (Fall)</option>
										<option value="2021 (Spring)">2021 (Spring)</option>
										<option value="2021 (Summer)">2021 (Summer)</option>
										<option value="2021 (Fall)">2021 (Fall)</option>
										<option value="2022 (Spring)">2022 (Spring)</option>
									</select>
								</div>
							</div>

							<!-- Subscribe -->
							<div class="checkbox">
								<label class="input-label">
									<input type="checkbox" formControlName="subscribe" checked name="subscribe">
										Subscribe to SIT email updates
								</label>
							</div>

							<!--WHAT TO DO FOR THE BUTTON??? -->
							<button [disabled]=formData.pristine class="btn btn-success">Update</button>
							<button (click)="cancel_update()" class="btn btn-danger" [routerLink]="['/home']">Cancel</button>
							<!-- Check to see if rerouting them to home is safe --> 
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>