<header class="navbar navbar-default navbar-fixed-top navbar-expand-lg col">
  <a class="navbar-brand p-1" routerLink="/">
    <img src="assets/sit.png" height="10%" alt="SIT Logo"/>UFSIT Portal
  </a>
  <button class="navbar-dark navbar-toggler navbar-toggler-right" type="button" (click)="toggleNavbarCollapsed()"
    [attr.aria-expanded]="!getNavbarCollapsed()" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse" [ngbCollapse]="getNavbarCollapsed()" id="navbarContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/']" (click)="setNavbarCollapsed(true)">Home</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/about']" (click)="setNavbarCollapsed(true)">About</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/sponsors']" (click)="setNavbarCollapsed(true)">Sponsors</a>
      </li>
      <li *ngIf="this.getSession().getAdmin()" class="nav-item" [routerLinkActive]="['active']">
        <!--This material should only appear when a user is an admin-->
        <a class="nav-link" [routerLink]="['/admin']" (click)="setNavbarCollapsed(true)">Admin</a>
      </li>
    </ul>
    <ul *ngIf="this.getSession().getCachedLoggedIn()" class="navbar-nav ml-auto">
      <li class="nav-item pr-3" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/profile']" (click)="setNavbarCollapsed(true)">Profile</a>
      </li>
      <li class="nav-item pt-1 pr-3" [routerLinkActive]="['active']">
        <button type="button" class="btn btn-danger navbar-btn" data-toggle="collapse" data-target=".navbar-collapse.in" (click)="logout()">Log Out</button>
      </li>
    </ul>
  </div>
</header>