<footer class="bottom foot foot-default">
    <div class="container-fluid">
        <div class="row foot-nav pt-1" style="margin-top:-5px">
            <ul class="col center text-center foot-nav mb-0">
                <li class="fa fa-github-square col-2" [routerLinkActive]="['active']">
                    <a class="foot-text" href="//github.com/ufsit"> Github</a>
                </li>
                <li class="fa fa-facebook-square col-2" [routerLinkActive]="['active']">
                    <a class="foot-text" href="//facebook.com/groups/ufsit"> Facebook</a>
                </li>
                <li class="fa fa-twitter-square col-2" [routerLinkActive]="['active']">
                    <a class="foot-text" href="//twitter.com/ufsit"> Twitter</a>
                </li>
                <li class="fa fa-youtube-square col-2" [routerLinkActive]="['active']">
                    <a class="foot-text" href="//youtube.com/user/ufsit"> YouTube</a>
                </li>
            </ul>
        </div>
        <p class="col center text-center mb-0 foot-text foot-fineprint align-bottom" style="margin-top:-20px">
            All content by UFSIT and licensed under
            <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/ie/">
                <u style="color:white">Creative Commons</u>
            </a>. Code under
            <a href="http://github.com/coogie/oscailte/blob/master/README.md">
                <u style="color:white">MIT Licence</u>
            </a>.
        </p>
    </div>
</footer>