
<div class="navbar-default nav">
    <img src="sit.png" height="100" width="235" alt="Forter"/>
    <span id="h1-1" > UF Information Security Team  </span>
     <!-- <ul class="nav navbar-nav navbar-right">
         <li><a href="/" class="btn-default btn-lg header-btn" translate="hd-button-home">Home</a></li>
         <li><a href="/data" class="btn-default btn-lg header-btn" translate="hd-button-data">Data</a></li>
         <li><a href="http://www.cybersalt.org/images/funnypictures/signs/signcomplaint.jpg" translate="hd-button-contact"
                class="btn-default btn-lg header-btn">Contact Us</a></li>
     </ul> -->
</div>
<br/>
