<link rel="stylesheet" type="text/css" href="register.css">
<div class="container-fluid">
	<div class="row">
		<div class="col-md-5 col-md-offset-1">
			<div class="main_header">{{ profile_name }}
			</div>
			<br>
			<div class="row">
				<div class="col-md-6">
					<label class='input-label'>Your name:</label>
					<p>{{full_name}}</p>
					<br>

					<label class='input-label'>Email:</label>
					<p>{{email}}</p>
					<br>

					<label class='input-label'>Graduation Date:</label>
					<p>{{grad_date}}</p>
					<br>

				</div>
				<div class="col-md-6">
					<label class='input-label'>Mailing List:</label>
					<p>{{mass_mail_optin}}</p>
					<br>

					<label class='input-label'>Registered:</label>
					<p title="Registered on {{registration_date | date : 'medium'}}">{{registration_date | timeAgo}}</p>
					<br>

					<a ng-href="{{user_link}}/edit" class="btn btn-info" role="button">Update Profile</a>
				</div>
			</div>
		</div>
	</div>
</div>
