.Login-App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.register-link {
  color: whitesmoke;
  font-size: 1.5rem;
}

.login-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-header-title {
  margin-top: 10px;
  margin-bottom: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-input {
  margin: 10px;
  border-radius: 10px;
  height: 40px;
  width: 200px;
  text-align: center;
  font-size: large;
  outline: none;
}

.login-button {
  margin-top: 20px;
  margin-bottom: 40px;
  border-radius: 10px;
  width: 130px;
  height: 40px;
  font-size: large;
  background-color: #1e9cf9;
  color: white;
  outline: none;
  border: none;
}

.form-error-message {
  margin-top: 10px;
  color: red;
  font-size: large;
}
