.container-fluid {
  max-width: 90%;
}

.fa-size {
  font-size: 1.5em;
}

.headshot {
    max-height: 175px;
    width: 175px;
    border: 2px solid grey;
}

#persons .row {
  margin-bottom: 10px;
}

@media (max-width: 425px) {
    .headshot {
        display: none;
    }
    h4 {
        font-size: 1.5em;
    }
}
