<div class="container-fluid full-height">
    <div class="row top-buffer">

        <div class="col">
            <div>
                <h1>About</h1>
                <p class="about-text pt-2">
                    The University of Florida Student Infosec Team (UFSIT) was founded in the Fall of 2006 by
                    <a href="http://www.linkedin.com/in/jwiens">Jordan Wiens</a> and
                    <a href="http://www.linkedin.com/in/johnhsawyer">John Sawyer</a> shortly after their team’s (1st place) first win at the DefCon 14 Capture the Flag (CTF)
                    competition. Several students approached Jordan and John to learn more about security and that interest
                    led to the formation of the SIT.
                </p>
                <p class="about-text">
                    The goals for the SIT are simple – to provide an environment for students (and anyone else who’s interested and willing to
                    participate) to learn more about information security topics such as penetration testing, reverse engineering,
                    exploit development, etc. The SIT holds weekly meetings that are student led and regularly include presentations
                    from local IT professionals and guest industry speakers. In addition to meetings, the SIT regularly participates
                    in CTF events and hosts their own to help members sharpen their skills.
                </p>
                <p class="about-text pb-4">
                    Over the years, the SIT has enjoyed a varied membership of students, UF employees, and local IT professionals, many of whom
                    have gone off to work in a wide array of different areas within the IT industry including reverse engineering,
                    exploit development, penetration testing, incident response, digital forensics, risk assessment, and
                    more.
                </p>
            </div>

            <div class="col mb-5 center text-center d-md-none">
                <p class="font-weight-bold font-italic">
                    Join us at our weekly meetings!<br/>
                    Thursdays 5:30pm - 6:30pm in CSE 231<br/>
                    Subscribe to updates by <a href="">creating an account</a>!
                </p>
            </div>

            <div>
                <h2>Officers</h2>
                <hr/>
                <div class="row">
                    <div class="col">
                        <h3>Elan Rasabi</h3>
                        <i>President</i>
                        <p> Elan is a 4th year Computer Engineering Student. He has previously served as the Treasurer for SIT
                            and is eager to bring SIT into the spotlight of Florida InfoSec. </p>
                    </div>
                    <img src="assets/images/Rasabi.png" class="headshot rounded-circle col-3" />
                </div>
                <br/>
                <div class="row">
                    <img src="assets/images/Miller.png" class="headshot rounded-circle col-3" />
                    <div class="col">
                        <h3>Scott Miller</h3>
                        <i>Vice President</i>
                        <p> Scott Miller is a senior at UF and absolutely loves doing and learning fun things. He strives for
                            optimality in every part of life and really enjoys meeting new people. His focus in the security
                            world is on network penetration testing and plans to move out to the San Francisco Bay Area after
                            college. </p>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col">
                        <h3>Spencer Fleming</h3>
                        <i>Treasurer</i>
                        <p> Spencer is a Sophomore in Computer Science. With plenty of practical CTF experience under his belt,
                            he hopes to advance his Security knowledge while mentoring newer members. </p>
                    </div>
                    <img src="assets/images/Fleming.png" class="headshot rounded-circle col-3" />
                </div>
                <br/>
                <div class="row">
                    <img src="assets/images/Lang.png" class="headshot rounded-circle col-3" />
                    <div class="col">
                        <h3>Nick Lang</h3>
                        <i>Secretary</i>
                        <p> Nick is a 4th year Computer Science student, and enjoys the unique challenges that come with Cyber
                            Security. He is particularly interested in the fields of Reverse Engineering and Social Engineering.
                        </p>
                    </div>
                </div>
                <br/>
            </div>

            <div>
                <h2>Chairs</h2>
                <hr/>
                <div class="row">
                    <div class="col">
                        <h3>Andrew Chabab</h3>
                        <i>Corporate Liaison Chair</i>
                        <p> Andrew Chabab is a junior at UF and became enthralled in the world of cybersecurity when he was a
                            sophomore, with his passion growing ever since. He enjoys working on cars and eventually wants
                            to work as a pen-tester worldwide. Easy going, personable, and dedicated Andrew hopes to be the
                            best he can be and help his peers as much as possible.
                        </p>
                    </div>
                    <img src="assets/images/Chabab.png" class="headshot rounded-circle col-3" />
                </div>
                <br/>
                <div class="row">
                    <img src="assets/images/Giaramita.jpg" class="headshot rounded-circle col-3" />
                    <div class="col">
                        <h3>Mathew Giaramita</h3>
                        <i>CTF Chair</i>
                        <p> Mathew Giaramita is a 4th year Computer Science undergrad at the University of Florida. His main
                            focus is software development, but he finds CTFs to be a fun and challenging experience. </p>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col">
                        <h3>Kejti Lita</h3>
                        <i>Special Events Chair</i>
                        <p> Kejti is a sophomore Computer Science student and she’s excited to learn and travel more with the
                            club and discover her own talents and passions in the process. </p>
                    </div>
                    <img src="assets/images/Lita.png" class="headshot rounded-circle col-3" />
                </div>
                <br/>
                <div class="row">
                    <img src="assets/images/Simon.jpg" class="headshot rounded-circle col-3" />
                    <div class="col">
                        <h3>Ben Simon</h3>
                        <i>CCDC Chair</i>
                        <p> Ben is a sophomore Computer Engineering Student, with industry certifications from CompTIA, Cisco,
                            and Microsoft. His interests include Computer Networking and Network Security. </p>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col">
                        <h3>Olia Zayshlaya</h3>
                        <i>Campus Liaison Chair</i>
                        <p> Olia is a junior in Computer Science. She has attended several security conferences, competitions,
                            and special events in just her first semester, and loves the InfoSec culture. She enjoys CTF
                            challenges and feels passionate about involving more people in the security field. One of her
                            greatest goals is to build a strong security background for any Gator because, “you cannot succeed
                            without it”. She’s from Russia, but don’t hold it against her :) </p>
                    </div>
                    <img src="assets/images/Zayshlaya.jpg" class="headshot rounded-circle col-3" />
                </div>
                <br/>
            </div>

            <div class="mb-5">
                <h2>Admins</h2>
                <hr/>
                <div class="row">
                    <img src="assets/images/Sawyer.jpg" class="headshot rounded-circle col-3" />
                    <div class="col">
                        <h3>
                            <a href="https://www.sploitlab.com">John H Sawyer</a>
                        </h3>
                        <i>Industry Sponsor</i>
                        <p> John H Sawyer is co-founder of the University of Florida Student Infosec Team and founder of
                            <a href="http://www.swampsec.org">SwampSec</a>. He is a Senior Security Analyst with InGuardians. John is member of the winning
                            team (1st place) from DEF CON 14’s and 15’s Capture the Flag competition. He is also a respected
                            author and currently writes for Dark Reading and InformationWeek Magazine. </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h3>
                            <a href="https://www.cise.ufl.edu/~jnw">Dr. Joseph N. Wilson</a>
                        </h3>
                        <i>Faculty Sponsor</i>
                        <p> Dr. Joseph N. Wilson is the faculty advisor for the UF Student Infosec Team. He has been a faculty
                            member at the University of Florida since 1984-1/2. His interest in Information Security was
                            (re)kindled when Jim Hranicky complained that UF students were being not being properly educated
                            in secure software development. After having taught a Secure Programming course a couple of times,
                            in 2012 he decided to dig deeper into the security arena and sought education outside the university.
                            From sources such as SANS (he now holds GIAC GPEN, GXPN, and GWAPT certifications) and hacker
                            cons, he has sought to learn what he can from the people who know what they know. One of the
                            now-dying breed of people with three-letter usernames, you can contact him via email at
                            <a href="mailto:jnw@cise.ufl.edu">jnw@cise.ufl.edu</a> and consult
                            <a href="https://www.cise.ufl.edu/~jnw">https://www.cise.ufl.edu/~jnw</a> for more information. </p>
                    </div>
                    <img src="assets/images/Wilson.jpg" class="headshot rounded-circle col-3" />
                </div>
            </div>
        </div>

        <div class="col-4 d-none d-md-block">
            <h3 class="pt-3">Social Media</h3>
            <div class="btn-toolbar p-3">
                <a class="btn btn-outline-secondary m-1" href="//facebook.com/groups/ufsit" role="button">
                    <i class="fa fa-facebook-square fa-size"> </i> Facebook </a>
                <a class="btn btn-outline-secondary m-1" href="//youtube.com/user/ufsit" role="button">
                    <i class="fa fa-youtube-square fa-size"> </i> YouTube </a>
                <a class="btn btn-outline-secondary m-1" href="//ufcise.slack.com/messages/C09KW9MP1" role="button">
                    <i class="fa fa-slack fa-size"> </i> Slack </a>
                <a class="btn btn-outline-secondary m-1" href="//twitter.com/ufsit" role="button">
                    <i class="fa fa-twitter fa-size"> </i> Twitter </a>
                <a class="btn btn-outline-secondary m-1" href="//github.com/ufsit" role="button">
                    <i class="fa fa-github-square fa-size"> </i> GitHub </a>
            </div>
            <h3 class="pt-3">Meetings</h3>
            <div class="p-3">
                <h4 class="alert alert-secondary text-center">
                    Thursdays
                    <br/>5:30pm - 6:30pm
                    <br/>CSE 231
                </h4>
            </div>
            <h6 class="p-1">
                Subscribe to updates by
                <a href="">creating an account</a>!
            </h6>
            <p class="p-1">
                All content by UFSIT and licensed under
                <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/ie/">Creative Commons</a>. Code under
                <a href="https://opensource.org/licenses/MIT">MIT License</a>.
            </p>
        </div>

    </div>
</div>