<div id="events" class="container-fluid full-height">
  <div class="col mt-5">

    <div class="row m-0 p-0">
      <div class="col center text-center">
        <h1>Events and News</h1>
        <p>Check out our upcoming events!</p>
      </div>
    </div>
    <br/>
    <div class="row m-0 p-0">
      <div class="col center text-center">
        <iframe src="https://calendar.google.com/calendar/embed?src=valentinocochri%40gmail.com&ctz=America%2FNew_York" style="border: 0"
          width="800" height="600" frameborder="0" scrolling="no"></iframe>
      </div>
    </div>

  </div>
</div>