<div class="container container-fluid full-height">

  <!-- Error displayed when a user tries to add a vote for a person not in the election.  Also displayed if something
    malfunctions in the backend -->
  <div *ngIf="notifications.requestError" class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" (click)="notifications.requestError = false">
    <span aria-hidden="true">&times;</span></button>
    <span class="notification_panel"><strong>Error</strong>  It appears that there was an error in your ballot.  
      Please remember that unathorized penetration testing is not legal</span>
  </div>

  <!-- Prevents from accessing broken UI after voting -->
  <div *ngIf="notifications.alreadyVoted">
    <div class="row m-1 p-1">
      <div class="col center text-center">
        <h1 class="green_header mt-5">Thanks for voting! &#10003;</h1>
        <p>Your say in how the club runs is greatly appreciated!</p>
      </div>
    </div>
  </div>

  <!-- Shows notification if a user tries to access the page after an election ends -->
  <div *ngIf="notifications.endOfElection" class="align-middle">
    <h6>Sorry, looks like you missed the election.  Go hack some stuff and come back for next years election</h6>
  </div>

  <!-- Notifies a user that they are not eligible to vote in an election -->
  <div *ngIf="notifications.notEligible">
      <div class="row m-1 p-1">
          <div class="col center text-center">
            <h1 class="green_header">Uh oh</h1>
            <h4>It looks like you haven't met the membership requirement for voting &#9785;</h4>
            <br><br><br>
            <p><i>If you think this is an error contanct an admin and your voting privileges can be corrected.</i></p>
          </div>
        </div>
  </div>

  <div *ngIf="!notifications.someError" class="col m-0 p-0">

    <div class="row m-1 p-1">
      <div class="col center text-center">
        <h1 class="green_header">Voting</h1>
        <p>Rank Candidates in the order for which you want them to win a position</p>
      </div>
    </div>
  
    <div class="row m-1 p-1">
      
      <div class=col-md-4>  
        <div class="card tile border-secondary mt-3 mb-3">
          <div class="card-header text-center border-secondary" style="background-color:#D0D0D0">
            <h4 class="mb-0" style="color:#303030">Presidential Candidates</h4>
          </div>
          <div [sortablejs]="this.presidents" class="col-md-5">
            <div *ngFor="let pres of presidents; let i = index">
              {{pres.person}}
            </div>
          </div>
        </div>
      </div>
        
      <div class=col-md-4>
        <div class="card tile border-secondary mt-3 mb-3">
          <div class="card-header text-center border-secondary" style="background-color:#D0D0D0">
            <h4 class="mb-0" style="color:#303030">Vice Presidential Candidates</h4>
          </div>
          <div [sortablejs]="this.vp" class="col-md-5">
            <div *ngFor="let vp of this.vp">
              {{vp.person}}
            </div>
          </div>
        </div>
      </div>

      <div class=col-md-4>
        <div class="card tile border-secondary mt-3 mb-3">
          <div class="card-header text-center border-secondary" style="background-color:#D0D0D0">
            <h4 class="mb-0" style="color:#303030">Treasurer Candidates</h4>
          </div>
          <div [sortablejs]="this.treasurers" class="col-md-5">
            <div *ngFor="let treas of this.treasurers">
              {{treas.person}}
            </div>
          </div>
        </div>
      </div>

      <div class=col-md-4>
        <div class="card tile border-secondary mt-3 mb-3">
          <div class="card-header text-center border-secondary" style="background-color:#D0D0D0">
              <h4 class="mb-0" style="color:#303030">Secretary Candidates</h4>
          </div>
          <div [sortablejs]="this.secretaries" class="col-md-5">
            <div *ngFor="let secr of this.secretaries">
              {{secr.person}}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="notifications.submittingVote" class="alert alert-danger alert-dismissible" role="alert">
      <span class="notification_panel"><strong>Warning</strong> You are about to submit your vote.  Once you submit you cannot edit it,
      so look back and make sure everything is correct.  Then, hit submit again to vote</span>
    </div>

    <input type="submit" class="btn btn-info" value="Submit" (click)="onSubmit()">
  </div>
</div>