<div class="container container-fluid full-height">
  <div class="row" ng-show="pageReady">
    <div class="col-md-5 col-md-offset-1 p-3">
      <div class="main_header">Sign In</div>

      <!-- Notification panels -->
      <div class="row">
        <div class="col-xs-12" id="notificationContainer" [ngClass]="{'notification-shake':shake}">

          <div *ngIf="error.errorMsg" id="errorAlert" class="alert alert-danger alert-dismissible" role="alert">
            <span class="notification_panel">
              <strong>Error:</strong> {{error.errorMsg}}</span>
          </div>

        </div>
      </div>

      <div class="row p-3">
        <div class="col-md-10 col-md-offset-1 pt-2">
          <form (ngSubmit)="submitLogin(); notificationShake()" [formGroup]="formData">
            <div class="form-group">
              <label class="input-label">Email</label>
              <input type="email" class="form-control" placeholder="Email" formControlName="email">
            </div>
            <div class="form-group">
              <label class="input-label">Password</label>
              <input type="password" class="form-control" placeholder="Password" formControlName="password">
            </div>

            <div class="row p-3">
              <div class="col-xs-12">
                <button class="btn btn-success input-label">Log In</button>
                <a routerLink="/register">
                  <input type="button" class="btn btn-primary input-label" value="Sign Up"> </a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-5 d-none d-md-block pt-4">
      <img src="assets/sit.png" alt="" style="width:100%">
    </div>
  </div>
</div>