input.ng-invalid.ng-dirty {background-color: #FF554F}
input.ng-valid.ng-dirty {background-color: #68FF9D}

.main_header{
	font-size: 32px;
	font-family: 'Share Tech Mono', monospace;
	/*text-shadow: h-shadow v-shadow blur-radius color|none|initial|inherit;*/
	text-shadow: 1px 1px 1px #0CE88B;
}

.input-label{
	font-size: 14px;
	font-family: 'Share Tech Mono', monospace;
}

.notification_panel{
	font-size: 14px;
	font-family: 'Share Tech Mono', monospace;
}

form .form-hint {
	margin-top: 5px;
	padding-left: 5px;
}

form .form-hint-error {
	color: red;
	margin-top: 5px;
	padding-left: 5px;
}
