<div class="container container-fluid full-height">
  <div class="row">
    <div class="col-md-5 col-md-offset-1">
      <div id="writeupTitle" class="main_header">{{getWriteupTitle()}}
      </div>
      <h5 id="writeupSubtitle">{{getWriteupSubtitle()}}</h5>
      <br>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div *ngIf="notifications.writeup_load_error" id="writeupLoadErrorAlert" class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" (click)="notifications.writeup_load_error = false">
          <span aria-hidden="true">&times;</span>
        </button>
        <span class="notification_panel">
          <strong>Error</strong> There was an error while loading this writeup.
           Please contact the developers.
        </span>
      </div>
    </div>
  </div>

  <div id="markdownText" class="row">
    <showdown class="minHeight markdown-body fullWidth" [value]="getWriteupText()" [options]="options"></showdown>    
  </div>
</div>