<div class="container container-fluid full-height">
  <div class="row">
    <div class="col-md-5 col-md-offset-1">
      <div id="profileTitle" class="main_header">Submit Writeups
      </div>
      <br>
    </div>
  </div>

  <div class="row">
    <form class="full-width" (ngSubmit)="submitWriteup()" [formGroup]="formData">
      <div class="row">
        <div class="form-group col-md-6">
          <label class="input-label">Challenge Name</label>
          <input type="name" class="form-control" placeholder="Callenge Name" formControlName="challengeName">
        </div>
      
        <div class="form-group col-md-6">
          <label class="input-label">CTF Name</label>
          <input type="email" class="form-control" placeholder="CTF Name" formControlName="ctfName">
        </div>
      </div>

      <div class="row">
        <ul class="nav nav-tabs">
          <li class="nav-item" (click)="switchToWrite()">
            <a id="writeTab" class="nav-link active">Write</a>
          </li>
          <li class="nav-item" (click)="switchToPreview()">
            <a id="previewTab" class="nav-link">Preview</a>
          </li>
          <li class="nav-item" (click)="switchToImages()">
            <a id="imagesTab" class="nav-link">Images</a>
          </li>
          <li class="nav-item" (click)="switchToUpdate()">
            <a id="updateTab" class="nav-link">Update</a>
          </li>
        </ul>
      </div>
      
      <div class="row">
        <textarea [hidden]="hidden.write" class="markdownInput full-width form-control" formControlName="markdownInput">
        </textarea>
        <showdown [hidden]="hidden.preview" class="markdown-body" [value]="setMarkdownInput" [options]="options"></showdown>    
        <table *ngIf="this.submittedWriteups.length !== 0"  [hidden]="hidden.update" id="account-list" class="table table-striped">
          <thead>
           <tr>
            <td>CTF Name</td>
            <td>Challenge Name</td>
            <td></td>
           </tr>
          </thead>
          <tbody>
           <tr *ngFor="let entry of this.submittedWriteups">
            <td>{{entry.ctfName}}</td>
            <td>{{entry.challengeName}}</td>
            <td><button type="button" class="btn btn-outline-primary" 
              (click)="load(entry.ctfName, entry.challengeName, entry.fileName)">Load</button></td>
           </tr>
          </tbody>
        </table>
        <p *ngIf="this.submittedWriteups.length === 0 && !hidden.update">No writeups submitted.</p>
      </div>
      
      <div class="row">
        <button [disabled]="!this.formData.valid" class="btn btn-success">Submit</button>
      </div>      

    </form>
  </div>
  
  
  
</div>
