.markdownInput, .minHeight {
  min-height: 80vh;
}

.in-card {
  display: contents;
}

table {
  display: table;
}

ngb-tabset{
  width: 100%;
}

.btn {
  margin: 0px;
}

.thumbnail {
  max-height: 20rem;
}

#fileBank {
  display: contents;
}
