<style>
input.ng-invalid.ng-dirty {background-color: #ff574d
}
input.ng-valid.ng-dirty {background-color: #8eff79
}
</style>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-5 col-md-offset-1">
			<h1>General Body Meeting 1 <small>Sign-in</small></h1>
			<h3>{{formData}}</h3>
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<br>
					<form>
						<div class="form-group">
							<label for="exampleInputPassword1">Name</label>
							<input type="text" class="form-control" placeholder="Full Name" ng-model="formData.name">
						</div>
						<div class="form-group">
							<label for="exampleInputEmail1">Email address</label>
							<input type="email" class="form-control" placeholder="Email" ng-model="formData.email">
						</div>

						<div class="checkbox">
							<label>
								<input type="checkbox" ng-model="formData.subscribe" checked> Subscribe to SIT email updates
							</label>
						</div>
						<button ng-click="submitLogin()" class="btn btn-default">Submit</button>
					</form>
				</div>
			</div>
		</div>
		<div class="col-md-5">
			<img src="sit.png" alt="" style="width:100%">
		</div>
	</div>
</div>







<!-- <div id="jumbotron" class="col-md-12 jumbotron">
<div class="container col-md-5">
<br/>
<br/>
<div >
<div class="title-font col-md-offset-2">General Body Meeting 1
</div>
<br/>
</div>
<form name="loginForm">
<fieldset class="text-center">
<div id="email">
<label for="firstname"  class="input-font">Email: </label>
<input id="firstname" type="text" required ng-model="firstname" >
</div>
<label for="firstname" class="input-font">Password: </label>
<input id="firstname" type="text" required ng-model="firstname" >
<input type="button" value="Login"  ng-click="login(loginForm)">
<input type="button" value="Need to Register?" ng-click="register()">
</fieldset>
</form>
</div>
</div> -->
