<style>
input.ng-invalid.ng-dirty {background-color: #ff574d
}
input.ng-valid.ng-dirty {background-color: #8eff79
}
</style>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-5 col-md-offset-1">
			<h1>General Body Meeting 1 <small>Sign-in</small></h1>
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<br>
					<form>
						<div class="form-group">
							<label for="exampleInputPassword1">Name</label>
							<input type="text" class="form-control" placeholder="Full Name" ng-model="formData.name">
						</div>
						<div class="form-group">
							<label for="exampleInputEmail1">Email address</label>
							<input type="email" class="form-control" placeholder="Email" ng-model="formData.email">
						</div>

						<div class="checkbox">
							<label>
								<input type="checkbox" ng-model="formData.subscribe" checked> Subscribe to SIT email updates
							</label>
						</div>
						<button ng-click="submitLogin()" class="btn btn-default">Submit</button>
					</form>
				</div>
			</div>
		</div>
		<div class="col-md-5">
			<img src="sit.png" alt="" style="width:100%">
		</div>
	</div>
</div>
