<style>
    input.ng-invalid.ng-dirty {background-color: #ff574d
    }
    input.ng-valid.ng-dirty {background-color: #8eff79
    }
</style>
<div id="jumbotron" class="col-md-12 jumbotron">
<div class="container col-md-5">
    <br/>
    <br/>
    <div >
        <div class="title-font col-md-offset-2">Sign In</div><br/>
    </div>
    <form name="loginForm">
    <fieldset class="text-center">
        <div id="email">
            <label for="firstname"  class="input-font">Email: </label>
            <input id="firstname" type="text" required ng-model="firstname" >
        </div>  
            <label for="firstname" class="input-font">Password: </label>
            <input id="firstname" type="text" required ng-model="firstname" >
         <!--br>
            <span>Last Name:</span><input type="text" name="lastName" required><br>
            <span>Email:</span><input type="email" name="email" required><br>
            <span>Password:</span><input type="password" name="password" required><br-->
            <input type="button" value="Login"  ng-click="login(loginForm)">
            <input type="button" value="Need to Register?" ng-click="register()">
    </fieldset>
    </form>
</div>
</div>