<div id="home" class="container-fluid text-center">
	   <div class="col-md-12">
		  	<div class="container">
			  <h2 ng-show="show_name">Hello, <a routerLink="/profile">{{getProfile().full_name}}</a></h2>
				<hr>
			  <div class="row">
			  </div>
			  <div class="row">
			  	<div class="col-sm-4">
							<div class="card tile">
								<img src="assets/edit.svg">

								<div class="card-body">
									<h3 class="card-title">Meeting Sign-in</h3>
									<p class="card-text">Sign into meetings to get member benefits</p>
								</div>
							</div>
			    </div>
			   	<div class="col-sm-4">
						<div class="card tile">
							<img src="assets/folder-open.svg">

							<div class="card-body">
								<h3 class="card-title">Lecture and Exercises</h3>
								<p class="card-text">Checkout old lectures and hands-on exercises</p>
							</div>
						</div>
			    </div> 
					<div class="col-sm-4">
						<div class="card tile">
							<img src="assets/calendar-alt.svg">

							<div class="card-body">
								<h3 class="card-title">Events and News</h3>
								<p class="card-text">Learn about Meetings, Competitions, and Conferences</p>
							</div>
						</div>
			    </div>
			  </div>
			  <div class="row">
			    <div class="col-sm-4">
						<div class="card tile">
							<img src="assets/file-pdf.svg">
	
							<div class="card-body">
								<h3 class="card-title">Update Resume</h3>
								<p class="card-text">Update/Upload you resume for companies</p>
							</div>
						</div>
			    </div>
			    <div class="col-sm-4">
						<div class="card tile">
							<img src="assets/list-alt.svg">
			
							<div class="card-body">
								<h3 class="card-title">CTF Practice Challenges</h3>
								<p class="card-text">Practice CTF challenges and view solutions</p>
							</div>
						</div>
			    </div>
				<div class="col-sm-4">
					<div class="card tile">
						<img src="assets/file-code.svg">
				
						<div class="card-body">
							<h3 class="card-title">CTF Practice Challenges</h3>
							<p class="card-text">Practice CTF challenges and view solutions</p>
						</div>
					</div>
			  </div>
			</div>
		</div>
	</div>
