#home {
  font-family: 'VT323', monospace;

  font-size: 16px;
  line-height: 1.5em;
  font-weight: 400;
}

#home h1, #home h3, #home h4, #home h5, #home h6 {
  font-family: 'VT323', monospace;
  line-height: 1.0em;
  font-weight: 300;
}

#home h2 {
  font-family: "Open Sans", "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5em;
  font-weight: 300;
}

.tile {
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  background: #fff;
  padding: 20px;
  margin-bottom: 30px;
  cursor: pointer
}
.tile .title {
  margin-top: 0px;
}
.tile.salmon, .tile.blue, .tile.red, .tile.orange, .tile.green, .tile.blueGray {
  color: #fff;
}
.tile.salmon {
  background: #ff6666;
}
.tile.blueGray {
  background: #363663;
}

.tile.salmon:hover {
  background: #940000;
}
.tile.red {
  background: #ac193d;
}
.tile.red:hover {
  background: #7f132d;
}
.tile.green {
  background: #00a600;
}
.tile.green:hover {
  background: #007300;
}
.tile.blue {
  background: #2672ec;
}
.tile.blue:hover {
  background: #125acd;
}
.tile.orange {
  background: #dc572e;
}
.tile.orange:hover {
  background: #b8431f;
}
.tile.blueGray:hover {
  background: #2b2b3b;
}

.tile.disabled {
  cursor: not-allowed;
  color: #ccc;
  background: #888;
}

.tile.disabled:hover {
  cursor: not-allowed;
  color: #ccc;
  background: #888;
}