<div class="container container-fluid full-height">
  <div class="row">
    <div class="col-md-5 col-md-offset-1">
      <div id="profileTitle" class="main_header">Upload Resume
      </div>
      <br>
    </div>
  </div>

  <!-- Notification panels -->
  <div class="row">
    <div class="col-xs-12">

      <div *ngIf="notifications.resume_upload_successful" id="resumeUploadSuccessfulAlert" class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" (click)="notifications.resume_upload_successful = false">
          <span aria-hidden="true">&times;</span>
        </button>
        <span class="notification_panel">
          Resume submitted</span>
      </div>

      <div *ngIf="notifications.resume_upload_error" id="resumeUploadErrorAlert" class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" (click)="notifications.resume_upload_error = false">
          <span aria-hidden="true">&times;</span>
        </button>
        <span class="notification_panel">
          <strong>Error</strong> There was an error while uploading your resume.
            Please contact the developers.</span>
      </div>

      <div *ngIf="notifications.resume_invalid_filetype" id="resumeInvalidFiletypeAlert" class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" (click)="notifications.resume_invalid_filetype = false">
          <span aria-hidden="true">&times;</span>
        </button>
        <span class="notification_panel">
          <strong>Error</strong> Only PDFs are supported.</span>
      </div>

      <div *ngIf="notifications.resume_get_error" id="resumeGetErrorAlert" class="alert alert-danger alert-dismissible" role="alert">
          <button type="button" class="close" (click)="notifications.resume_get_error = false">
            <span aria-hidden="true">&times;</span>
          </button>
          <span class="notification_panel">
            <strong>Error</strong> There was an error while getting your resume.
              Please contact the developers.</span>
        </div>
  
      <div *ngIf="notifications.generic_error" id="genericErrorAlert" class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" (click)="notifications.generic_error = false">
          <span aria-hidden="true">&times;</span>
        </button>
        <span class="notification_panel">
          <strong>Error</strong> Something went wrong on our end. Please contact the developers.</span>
      </div>

      <div *ngIf="notifications.bad_request" id="badRequestAlert" class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" (click)="notifications.bad_request = false">
          <span aria-hidden="true">&times;</span>
        </button>
        <span class="notification_panel">
          <strong>Error</strong> It looks like you're trying to do something sketchy. Remember that "unauthorized penetration
          tests" are illegal :P. If you believe this is a mistake, please contact the developers.</span>
      </div>

    </div>
  </div>

  <div class="row">
    <form class="col col-md-5" (ngSubmit)="submitForm()" [formGroup]="form">
      <span class="btn btn-default btn-file">
        <input type="file" (change)="handleFileChange($event.target.files)">
      </span>
      <!--<input id="file-upload-name" type="name" [value]="uploadedFileName" class="form-control" placeholder="File name (optional)">-->
      <button [disabled]="!isValidFileType() || !this.form.valid" class="btn btn-success">Submit</button>

      <h4>Additional Questions</h4>
      Have you done research?
      <input type="radio" value='true' formControlName="research" >Yes
      <input type="radio" value='false' formControlName="research">No
      
      <br>

      Have you interned before?
      <input type="radio" value='true' formControlName="internship" >Yes
      <input type="radio" value='false' formControlName="internship">No

      <br>

      <label>Major</label>
      <select required aria-required="true" class="form-control" name="major" formControlName="major">
          <option disabled hidden value="Select a major">Select a semester</option>
          <option value="computer science">Computer Science</option>
          <option value="computer engineering">Computer Engineering</option>
          <option value="other">Other</option>
      </select>

      <label>Graduation Semester</label>
      <select required aria-required="true" class="form-control" name="grad_date" formControlName="grad_date">
          <option disabled hidden value="Select a semester">Select a semester</option>
          <option value="Already Graduated">Already Graduated</option>
          <option value="2018 (Spring)">2018 (Spring)</option>
          <option value="2018 (Summer)">2018 (Summer)</option>
          <option value="2018 (Fall)">2018 (Fall)</option>
          <option value="2019 (Spring)">2019 (Spring)</option>
          <option value="2019 (Summer)">2019 (Summer)</option>
          <option value="2019 (Fall)">2019 (Fall)</option>
          <option value="2020 (Spring)">2020 (Spring)</option>
          <option value="2020 (Summer)">2020 (Summer)</option>
          <option value="2020 (Fall)">2020 (Fall)</option>
          <option value="2021 (Spring)">2021 (Spring)</option>
          <option value="2021 (Summer)">2021 (Summer)</option>
          <option value="2021 (Fall)">2021 (Fall)</option>
          <option value="2022 (Spring)">2022 (Spring)</option>
      </select>
      
      <label>GPA</label>
      <input class="form-control" placeholder="GPA" formControlName="gpa">
    </form>
    <br>
    <p *ngIf="!isValidFileType()" class="red-text">Your resume must be a PDF</p>

  </div>

  <div id="resumeContainer" *ngIf="innerHtml" [innerHTML]="innerHtml" class="resume row">

  </div>

</div>
  