<div class="container container-fluid full-height">
  <div class="row">
    <div class="col-md-5 col-md-offset-1">
      <div id="profileTitle" class="main_header">{{ this.getTitle() }}
      </div>
      <br>

      <div class="row">
        <div class="col-md-6">
          <label class='input-label'>Your name:</label>
          <p>{{ this.getProfile().full_name }}</p>
          <br>

          <label class='input-label'>Email:</label>
          <p>{{ this.getProfile().email }}</p>
          <br>

          <label class='input-label'>UFL Email:</label>
          <p>{{ this.getProfile().ufl_email }}</p>
          <br>

          <label class='input-label'>Graduation Date:</label>
          <p>{{ this.getProfile().grad_date }}</p>
          <br>

        </div>

        <div class="col-md-6">
          <label class='input-label'>Mailing List:</label>
          <p>{{ this.getProfile().mass_mail_optin ? "True" : "False" }}</p>
          <br>

          <label class='input-label'>Registered:</label>
          <p title="Registered on {{this.getProfile().registration_date | date : 'medium'}}">{{ this.getProfile().registration_date | timeAgo }}</p>

          <br>

          <a id="updateProfileButton" routerLink="{{ this.getEditLink() }}" class="btn btn-info" role="button">Update Profile</a>
        </div>
      </div>
    </div>
  </div>
</div>