<div id="sponsors" class="container-fluid full-height">
    <div class="row mt-5">

        <div class="col">
            <div class="row m-0 p-0 mb-5">
                <div class="col-md-8 m-0 p-0">
                    <h1 class="mb-0">Sponsors</h1>
                    <p class="font-italic pt-2">
                    Sponsors are critical to our organization. Tiered sponsors make regular donations to our club and we rely on these funds for club activities and events. If you are interested in becoming a sponsor, please view our <a href="assets/sponsors/UFSIT-sponsors.pdf">Sponsorship Packet</a> or reach out to our current President via email or other social media.
                    </p>
                    <!--
                    <p class="font-italic pb-4">
                        UF SIT is heavily involved in the regional cybersecurity community and has formed strong relationships with many partner
                        organizations. Together we have successfully carried out many collaborative projects and competitons.
                        See our Allied Organizations below for more information. If your organization is interested in collaborating
                        on events with us, please reach out to our President at (email).
                    </p>
                </div>
                <div class="col m-0 p-0 mt-5 d-none d-md-block">
                    <img src="assets/sit.png" class="img-responsive center text-center" style="max-width:300px">
                    -->
                </div>
            </div>

            <h3 class="">Tier One Sponsors</h3>
            <hr/>
            <div class="row mb-4">
                <div class="col mt-2 mb-2 center text-center">
                    <img src="assets/sponsors/XRaytheon.png" class="img-thumbnail b-gold img-wide">
                    <h4 class="center text-center">
                        <a href="https://www.raytheon.com/">RAYTHEON</a>
                    </h4>
                </div>
            </div>
            <!--
            <h3>Tier Two Sponsors</h3>
            <hr/>
            <div class="row mb-4">
                <div class="col-sm-3 mt-2 mb-2 center text-center">
                    <img src="assets/sponsors/Walmart.png" class="img-thumbnail b-plat">
                    <h4 class="center text-center">
                        <a href="https://www.walmart.com/">WALMART</a>
                    </h4>
                </div>
                <div class="col-sm-3 mt-2 mb-2 center text-center">
                    <img src="assets/sponsors/InGuardians.png" class="img-thumbnail b-plat">
                    <h4 class="center text-center">
                        <a href="https://www.inguardians.com/">INGUARDIANS</a>
                    </h4>
                </div>
                <div class="col-sm-3 mt-2 mb-2 center text-center">
                    <img src="assets/sponsors/IOActive.png" class="img-thumbnail b-plat">
                    <h4 class="center text-center">
                        <a href="https://www.ioactive.com/">IOACTIVE</a>
                    </h4>
                </div>
            </div>

            <h2 class="">Donors</h2>
            <hr/>
            <div class="row mb-4">
                <a class="col-sm-3 mt-2 mb-2 center text-center" href="https://www.ioactive.com/">
                    <img src="assets/sponsors/IOActive.png" class="img-thumbnail b-bronze">
                    <h4 class="center text-center">
                        <a href="https://www.ioactive.com/">IOACTIVE</a>
                    </h4>
                </a>
            </div>
            -->
            <h3>Allied Organizations</h3>
            <hr/>
            <div class="row mb-4">
                <div class="col-sm-3 mt-2 mb-2 center text-center">
                    <img src="assets/sponsors/UFACM.png" class="img-thumbnail b-silver">
                    <h4 class="center text-center">
                        <a href="https://ufacm.xyz/">UF ACM</a>
                    </h4>
                </div>
                <div class="col-sm-3 mt-2 mb-2 center text-center">
                    <img src="assets/sponsors/FCA.png" class="img-thumbnail b-silver">
                    <h4 class="center text-center">
                        <a href="http://www.floridacyberalliance.org/">FCA</a>
                    </h4>
                </div>
                <div class="col-sm-3 mt-2 mb-2 center text-center">
                    <img src="assets/sponsors/HackUCF.png" class="img-thumbnail b-silver">
                    <h4 class="center text-center">
                        <a href="https://hackucf.org/blog/">Hack UCF</a>
                    </h4>
                </div>
                <div class="col-sm-3 mt-2 mb-2 center text-center">
                    <img src="assets/sponsors/CSFSU.png" class="img-thumbnail b-silver">
                    <h4 class="center text-center">
                        <a href="http://cybersecurity.fsu.edu/club/">CS FSU</a>
                    </h4>
                </div>
            </div>

            <br/>

        </div>

    </div>
</div>
