<div id="sponsors" class="container-fluid text-center full-height">

  <div class="jumbotron">
    <div class="container text-center">
      <div style="float: center">
        <h1>Sponsors and Sister Organizations</h1>
      </div>
      <p>We love our sponors!</p>
    </div>
  </div>

  <div class="row">
    <div style="float: left">
      <h3>Tier 2</h3>
    </div>
  </div>

  <div class="row">

    <div class="col-sm-4">
      <div class="card tile">
        <div class="card-body">
          <a href="https://www.raytheon.com/">
            <div style="float: center">
              <img src="assets/sponsors/raytheon.png" class="img-responsive" style="width:100%" alt="Logo">
            </div>
          </a>
        </div>
      </div>
    </div>

  </div>


  <div class="row">
    <div style="float: left">
      <h3>Tier 1</h3>
    </div>
  </div>

  <div class="row">

    <div class="col-sm-4">
      <div class="card tile">
        <div class="card-body">
          <a href="https://www.raytheon.com/">
            <div style="float: center">
              <img src="assets/sponsors/raytheon.png" class="img-responsive" style="width:100%" alt="Logo">
            </div>
          </a>
        </div>
      </div>
    </div>

  </div>


  <div class="row">
    <div style="float: left">
      <h3>Allied Organizations</h3>
    </div>
  </div>

  <div class="row">

    <div class="col-sm-4">
      <div class="card tile">
        <div class="card-body">
          <a href="https://www.raytheon.com/">
            <div style="float: center">
              <img src="assets/sponsors/raytheon.png" class="img-responsive" style="width:100%" alt="Logo">
            </div>
          </a>
        </div>
      </div>
    </div>

  </div>

