<div id="sponsors" class="container-fluid text-center full-height">

  <div class="jumbotron">
    <div class="container text-center">
      <div style="float: center">
        <h1>Sponsors and Sister Organizations</h1>
      </div>
      <p>We love our sponors!</p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="card tile">
        <!--<img class="card-img" src="assets/img.svg" alt="Card image">-->
        <div class="card-img-overlay">

          <div class="row">

            <div class="col-sm-4">
              <div class="card tile">
                <div class="card-body">

                  <div style="float: center">
                    <img src="assets/sponsors/raytheon.png" class="img-responsive" style="width:100%" alt="Logo">
                  </div>

                  <a href="https://www.raytheon.com/">
                    <h3 class="card-title">Raytheon</h3>
                  </a>
                </div>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="card tile">
                <div class="card-body">

                  <div style="float: center">
                    <img src="assets/sponsors/raytheon.png" class="img-responsive" style="width:100%" alt="Logo">
                  </div>

                  <a href="https://www.raytheon.com/">
                    <h3 class="card-title">Raytheon</h3>
                  </a>
                </div>
              </div>
            </div>

            <div class="col-sm-4">
                <div class="card tile">
                  <div class="card-body">
    
                    <div style="float: center">
                      <img src="assets/sponsors/raytheon.png" class="img-responsive" style="width:100%" alt="Logo">
                    </div>
    
                    <a href="https://www.raytheon.com/">
                      <h3 class="card-title">Raytheon</h3>
                    </a>
                  </div>
                </div>
              </div>

            </div>

        </div>
      </div>
    </div>
  </div>

</div>